*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Styles */
header{
    background-image: url(images/banner/banner2.png);
    width: 1600px;
    height: 809px;
}
.header-item{
    width: 525px;
    height: 228px;
    text-align: right;
    margin-left: 845px;
}
.header-title{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    padding-top: 216px;
}
.header-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 32px;
}
.btn-primary{
    background-color: #F15B22;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    width: 160px;
    height: 64px;
    border: 0;
    border-radius: 10  px;
}


/* Top Section Styles */
.section-top{
    width: 1072px;
    height: 723.3px;
    margin-left: 206px;
    margin-top: 130px;
}
.section-info{
    display: flex;
    gap: 87px;
}

.sec-head-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-top: 243px;
    margin-bottom: 24px;   
}
.sec-des-p{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
}
.sec-points li{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    list-style: none;
}

/* My plan section styles */
.myplan-section{
    width: 1141px;
}
.myplan-title{
    color: #151414; 
    font-weight: 700;
    font-size: 40px;
    margin-left: 711px;
    margin-top: 130px;
    margin-bottom: 50px;
}
.myplan-info{
    display: flex;
    gap: 240px;
    margin-left: 230px;
    margin-right: 230px;
}
.myplan-skills{
    text-align: center;
}
.myplan-skills img{
    margin-bottom: 24px;
}
.myplan-skills h3{
    margin-bottom: 16px;
}

/* Call Section Styles */
.call-banner{
    background-image: 
    linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('images/watch.png');
    width: 1140px;
    height: 300px;
    margin-left: 230px;
    margin-top: 124px;
    
}
.call-sec-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    width: 459px;
    margin-left: 64px;
    padding-top: 59px;
}
.btn-primary1{
        background-color: #FFFFFF;
        color: #F15B22;
        font-weight: 600;
        font-size: 20px;
        width: 160px;
        height: 64px;
        border: 0;
        border-radius: 10px;
        margin-top: 24px;
        margin-left: 64px;
    }


/* Bottom Footer Section Styles */
.section-bottom{
    background: #151414;
    display: flex;
    width: 1600px;
    height: 577px;
    gap: 330px;
    margin-top: 130px;
}
.footer-info{
    color: #F8F8F8;
    margin-left: 230px;
}
.footer-title{
    color: #F8F8F8;
    margin-top: 130px;
    margin-bottom: 16px;
}
.footer-info p{
    color: #F8F8F8;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    width: 485px; 
}
.btm-img{
    display: flex;
    gap: 18px;
    margin-top: 32px;
}
.subscribe{
    margin-top: 130px;
}
.subscribe h1{
    color: #F8F8F8;
    margin-bottom: 16px;
}
.subscribe input{
    background-color: #222020;
    margin-top: 31px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    color: #F8F8F8;
}
.btn-subscribe{
        background-color: #FFFFFF;
        color: #F15B22;
        font-weight: 600;
        font-size: 20px;
        width: 160px;
        height: 64px;
        border: 0;
        border-radius: 10px;
        margin-top: 24px;
}